<link href="{$resource_url}umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{$resource_url}umeditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{$resource_url}umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{$resource_url}umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="{$resource_url}umeditor/lang/zh-cn/zh-cn.js"></script>
